<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastrar usuário</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="container">
            <div class="header-nav">
                <h1>Cadastrar usuário</h1>
                <p>Olá, **{{ usuario_logado }}**! | <a class="logout-link" href="{{ url_for('logout') }}">Logout →</a></p>
            </div>
            
            <h3>Adicionar novo usuário</h3>
            <form method="post" action="{{ url_for('adicionar') }}" class="form" style="display: flex; flex-direction: row; align-items: stretch;">
                <input name="nome" placeholder="Nome" required>
                <input name="idade" type="number" placeholder="Idade" required style="max-width: 100px;">
                <button type="submit">Adicionar</button>
            </form>
            
            <h3>Usuários cadastrados</h3>
            
            <ul class="list">
            {% for u in usuarios %}
                <li>
                    <span class="user">{{ u.nome }} {{ u.idade }} anos</span>
                    <div>
                        <a class="ver-pedido-button" href="{{ url_for('pedidos_lista') }}">Ver pedido</a>
                        <a class="edit" href="{{ url_for('editar', id=u.id) }}">Editar</a>
                        <a class="delete" href="{{ url_for('deletar', id=u.id) }}">Excluir</a>
                    </div>
                </li>
                {% else %}
                <li>Nenhum usuário cadastrado.</li>
            {% endfor %}
            </ul>

            <div class="pagination">
                {% if pagination.has_prev %}
                    <a href="{{ url_for('cadastro_usuarios', page=pagination.prev_num) }}">← Previous</a>
                {% else %}
                    <span class="disabled">← Previous</span>
                {% endif %}

                {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if page_num == pagination.page %}
                            <span class="current-page">{{ page_num }}</span>
                        {% else %}
                            <a href="{{ url_for('cadastro_usuarios', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        <span>...</span>
                    {% endif %}
                {% endfor %}

                {% if pagination.has_next %}
                    <a href="{{ url_for('cadastro_usuarios', page=pagination.next_num) }}">Next →</a>
                {% else %}
                    <span class="disabled">Next →</span>
                {% endif %}
            </div>

            <footer>
            <p>Projeto de integração: Arquitetura, SO, Banco de Dados e Redes.</p>
            </footer>
        </div>
    </body>
</html>