<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do pedido #{{ pedido.id }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="secondary-nav">
            <a href="{{ url_for('pedidos_lista') }}">← Voltar</a>
            <span>Detalhes do pedido</span>
            <a class="logout-link" href="{{ url_for('logout') }}">Logout</a>
        </div>

        <h1>Pedido #{{ pedido.id }} | {{ pedido.data_pedido.strftime('%d/%m/%Y - %H:%M') }}</h1>
        <p>Status: **{{ pedido.status }}**</p>
        
        <h3 style="margin-top: 20px;">Informações Adicionais:</h3>
        <p>Cliente: **{{ pedido.usuario.nome }}**</p>
        <p>Data da compra: **{{ pedido.data_pedido.strftime('%d/%m/%Y - %H:%M') }}**</p>
        
        <h3 style="margin-top: 20px;">Itens do pedido:</h3>
        <ul class="list">
            {% set total_geral = 0 %}
            {% for item in pedido.itens %}
                {% set subtotal = item.quantidade * item.preco_unitario %}
                {% set total_geral = total_geral + subtotal %}
                <li>
                    <span>
                        ◎ <a href="{{ url_for('detalhe_produto', id=item.produto.id) }}">**{{ item.produto.nome }}**</a>
                        ({{ item.quantidade }} x R$ {{ "%.2f"|format(item.preco_unitario) }})
                    </span>
                    <span>Subtotal: R$ {{ "%.2f"|format(subtotal) }}</span>
                </li>
            {% endfor %}
        </ul>
        
        <h2 style="text-align: right; margin-top: 20px;">Total: R$ {{ "%.2f"|format(total_geral) }}</h2>

        <footer>
            <p>Projeto de integração: Arquitetura, SO, Banco de Dados e Redes.</p>
        </footer>
    </div>
</body>
</html>