<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Editar Usuário</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="container">
            <h1>Editar Usuário</h1>
                <form method="post" class="form">
                    <input name="nome" placeholder="Nome" value="{{ usuario.nome }}" required>
                    <input name="idade" type="number" placeholder="Idade" value="{{ usuario.idade }}"
                    required>
                    <button type="submit">Salvar Alterações</button>
                </form>
            <a href="/">🔙 Voltar</a>
        </div>
    </body>
</html>