<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro Inteligente</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="container">
            <h1>Cadastro de Usuários</h1>
            {% if usuario_logado %}
                <p>Olá, **{{ usuario_logado }}**! | <a href="/pedidos">Meus Pedidos</a> | <a href="/logout">Logout</a></p>
            {% else %}
                <p><a href="/login">Fazer Login</a></p>
            {% endif %}

                <form method="post" action="/adicionar" class="form">
                    <input name="nome" placeholder="Nome" required>
                    <input name="idade" type="number" placeholder="Idade" required>
                    <input name="email" type="email" placeholder="Email" required>
                    <input name="senha" type="password" placeholder="Senha" required>
                    <button type="submit">Adicionar</button>
                </form>
                <ul class="list">
                {% for u in usuarios %}
                    <li>
                        <span class="user">{{ u.nome }} ({{ u.idade }} anos) - {{ u.email }}</span>
                        <div>
                            <a class="edit" href="/editar/{{ u.id }}">✏️ Editar</a>
                            <a class="delete" href="/deletar/{{ u.id }}">🗑️ Deletar</a>
                        </div>
                    </li>
                    {% else %}
                    <li>Nenhum usuário cadastrado.</li>
                {% endfor %}
                </ul>
            <footer>
            <p>Projeto de integração: Arquitetura, SO, Banco de Dados e Redes.</p>
            </footer>
        </div>
    </body>
</html>