<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Meus Pedidos</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="secondary-nav">
            <a href="{{ url_for('cadastro_usuarios') }}">← Voltar</a>
            <span>Meus Pedidos</span>
            <a class="logout-link" href="{{ url_for('logout') }}">Logout →</a>
        </div>

        <h1>Meus Pedidos</h1>
        
        <ul class="list">
        {% for pedido in pedidos %}
            <li>
                <span class="user">Pedido #{{ pedido.id }} ({{ pedido.data_pedido.strftime('%d/%m/%Y - %H:%M') }})</span>
                <div>
                    Status: **{{ pedido.status }}**
                    <a class="ver-pedido-button" href="{{ url_for('detalhe_pedido', id=pedido.id) }}">Ver itens</a>
                </div>
            </li>
            {% else %}
            <li>Você não tem nenhum pedido.</li>
        {% endfor %}
        </ul>
        <footer>
            <p>Projeto de integração: Arquitetura, SO, Banco de Dados e Redes.</p>
        </footer>
    </div>
</body>
</html>